.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("./../assets/cover.jpg");
  background-repeat: no-repeat;
  background-size: 75vw 75vh;
  background-position: 50% 50%;
}
.seeking {
  display: flex;
  width: 25%;
  justify-content: center;
  font-size: 2em;
}
.help {

}
.charity {
  
}
